body {
    height: 2000px;
    margin: 0;
}

.field {
    width: 200px;
    height: 150px;
    border: 10px groove black;
    background-color: #00FF00;
    overflow: hidden;
    cursor: pointer;
}

.ball {
    position: relative;
    transition: top 1s, left 1s;
}
